name: Workflow to deploy ADF ARM Template to Prod
on: 
  workflow_dispatch:
  
#on:
#  push:
#    branches:
#      - 'adf_publish'
      
#  release:
#    types: [published]
    
#   paths:
#     - 'atnadfdevdat2/**'
    
#  workflow_dispatch:
    
#     - ${{ vars.DEV_DATAFACTORY_NAME }}/**

jobs:
  build-and-deploy-to-prod:
    runs-on: ubuntu-latest
    environment: Prod   
    env:
      AZURE_SP_CLIENT_ID: ${{ secrets.AZURE_CREDENTIALS }}
      AZURE_SUBSCRIPTION_ID: ${{ vars.AZURE_SUBSCRIPTION }}      
      AZURE_RESOURCE_GROUP: ${{ vars.AZURE_RG }}
      VAULT_NAME: ${{ vars.AZURE_KEYVAULT }}
      AZURE_PRD_DF_NAME:  ${{ vars.AZURE_DATA_FACTORY }}
      AZURE_DEV_DF_NAME:  ${{ vars.DEV_DATAFACTORY_NAME }}
    steps:
    # Authentication
    # Set up the following secrets in your repository: AZURE_CREDENTIALS
    - name: Azure Login
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
    
    # Checkout
    - name: Checkout
      uses: actions/checkout@v3
      with:
        ref: adf_publish
         
    #Deployment of ARM template    
    - name: Deploy ARM Template
      uses: azure/arm-deploy@v1
      with:
        # You can change these environment variables for your configuration:   AZURE_SUBSCRIPTION_ID, AZURE_RESOURCE_GROUP
        subscriptionId: ${{ env.AZURE_SUBSCRIPTION_ID }}
        resourceGroupName: ${{ env.AZURE_RESOURCE_GROUP }}
        template: ${{ github.workspace }}/${{ env.AZURE_DEV_DF_NAME }}/ARMTemplateForFactory.json             
        parameters: ${{ github.workspace }}/${{ env.AZURE_DEV_DF_NAME }}/ARMTemplateParametersForFactory.json 
                    factoryName=${{ env.AZURE_PRD_DF_NAME }} 
                    AzureDataLakeStorage1_accountKey="mxnXyI6IYcpzRyCdZoH/wgyhtricYpJooLHS8bqUm0A1oStDz/gGZsBj8UAJfLhaI/PwK8QHUJeO+AStQoN0XA=="
                    AzureDataLakeStorage1_properties_typeProperties_url="https://mdwdopsstrgproddat2.dfs.core.windows.net/"
                    RestService1_properties_typeProperties_url="https://api.spacexdata.com/v3/"
